server:
  port: 9000

spring:
  application:
    name: gateway-server

  cloud:
    nacos:
      # Nacos HTTP 服务端地址
      server-addr: 192.168.10.70:60008
      username: nacos
      password: nacos


      # 配置中心暂时禁用
      config:
        enabled: false
        import-check:
          enabled: false

      # 服务发现
      discovery:
        namespace: public
        group: DEFAULT_GROUP
        service: gateway-server
        naming-load-cache-at-start: true
        failure-tolerance-enabled: true
        fail-fast: false

    gateway:
      server:
        webflux:
          discovery:
            locator:
              lowerCaseServiceId: true
              enabled: true
          routes:
          - id: user-service
            uri: lb://user-service
            predicates:
              - Path=/user/**
            filters:
              - StripPrefix=1

          - id: system-service
            uri: lb://system-service
            predicates:
              - Path=/system/**
            filters:
              - StripPrefix=1

          - id: file-service
            uri: lb://file-service
            predicates:
              - Path=/file/**
            filters:
              - StripPrefix=1


# 日志配置
logging:
  level:
    top.nextdoc4j.demo: DEBUG
    org.springframework.web: debug
    io.swagger.v3: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n"
  file:
    name: logs/nextdoc4j-demo.log
